<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF">
    <Appenders>
        <!--将日志在控制台输出-->
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <!--日志输出的格式-->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss:SSS} %p $r [%t] %C.%M(%L) | %m%n"/>
        </Console>
        
     
        <File name="fileAppender" fileName="logs/istio-example/saas-product.log">
          <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss:SSS} %p $r [%t] %C.%M(%L) | %m%n"/>
        </File>
        
    </Appenders>

    <Loggers>

        <Root level="info">
            <appender-ref ref="Console"/>
            <appender-ref ref="fileAppender"/>
        </Root>
        <!-- For application define -->

        <logger level="debug" name="com.example.istio.saas.product" >
            <AppenderRef ref="Console" />
        </logger>
    </Loggers>
</Configuration>